
.container__signup{
    display: flex;
    flex-direction: row;
}

.bg__twitter{
    width: 60%;
    height: auto;
    min-width: 400px;
}

.bg__icon{
    width: 350px;
    height: 350px;
}

.signup--options{
    padding: 40px;
    width: 50%;
}